@model AWSLab03.Models.Podcast

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Podcast</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<!-- SUBSCRIBE BUTTON START -->
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Subscriptions" asp-action="Subscribe" method="post">
        <input type="hidden" name="podcastId" value="@Model.PodcastID" />
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
}
<!-- SUBSCRIBE BUTTON END -->
<h4>Subscribers:</h4>
<ul>
    @foreach (var sub in Model.Subscriptions ?? Enumerable.Empty<AWSLab03.Models.Subscription>())
    {
        <li>@sub.UserID</li>
    }
</ul>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PodcastID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
